<% if (success_message !== []) { %>

  <p class="text-center success-message"><%= success_message %></p>

<% } else {%>

<%} %>

<% if (error_message) { %>

<p class="text-center error-message"><%= error_message %></p>

<% } else {%>

<%} %>

<% if (error) { %>
  <p class="login-error"><%= error %></p>
<%}%>