<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <div class="container-fluid">
      <%- include('includes/nav') %>
      <header id="showcase">
        <div class="container showcase-container">
          <h1>Get Started</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
            repellendus amet consequuntur quam nobis corporis!
          </p>
          <!-- /notes/add -->
          <a class="btn btn-info" href="/notes">Add A Note</a>
        </div>
      </header>
    </div>
    <%- include('includes/footer') %>
  </body>
</html>
